:root {
    --clr-p-blue: hsl(225, 100%, 94%);
    --clr-vp-blue: hsl(225, 100%, 98%);
    --clr-b-blue: hsl(var(--ds-blue));
    --clr-ds-blue: hsl(224, 23%, 55%);
    --clr-d-blue: hsl(223, 47%, 23%);
  
    --ff-red-hat: "Red Hat Display", sans-serif;
  
    --ds-blue: 245, 75%, 52%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
  }
  body {
    background: url(images/pattern-background-mobile.svg), var(--clr-p-blue);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .order-card {
    /* border: 1px solid black; */
    width: min(100% - 3rem, 32ch);
    border-radius: 0.5rem;
    overflow: hidden;
    font-family: var(--ff-red-hat);
  }
  
  .order-card__content {
    padding: 2rem 2rem;
    background-color: #fff;
  }
  
  .order-card__content > :not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .order-card__content__summary {
    text-align: center;
    text-wrap: balance;
  }
  
  .order-card__content__summary h3 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--clr-d-blue);
    margin-bottom: 0.5rem;
  }
  
  .order-card__content__summary p {
    color: var(--clr-ds-blue);
    line-height: 1.6;
  }
  
  .order-card__content__plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--clr-vp-blue);
    border-radius: 1rem;
    font-size: 0.85em;
  }
  
  .__plan-chosen {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .__plan-chosen p {
    color: var(--clr-d-blue);
    font-weight: 900;
    margin-bottom: 0.25rem;
  }
  
  .__plan-chosen span {
    color: var(--clr-ds-blue);
  }
  
  .order-card__content__plan a {
    color: var(--clr-b-blue);
    font-weight: 900;
    transition: opacity 0.25s;
  }
  
  .order-card__content__plan a:hover,
  .order-card__content__payment a:hover {
    opacity: 0.8;
    text-decoration: none;
  }
  
  .order-card__content__payment {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
  }
  
  .order-card__content__payment button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--clr-b-blue);
    color: #fff;
    font-size: 0.95rem;
    font-weight: 700;
    box-shadow: hsla(var(--ds-blue), 0.1) 0px 20px 20px 5px,
      hsla(var(--ds-blue), 0.2) 0px 10px 10px -5px;
    transition: opacity 0.25s;
  }
  
  .order-card__content__payment button:hover {
    opacity: 0.9;
  }
  
  .order-card__content__payment a {
    color: var(--clr-ds-blue);
    font-size: 0.95em;
    font-weight: 900;
    text-decoration: none;
    transition: opacity 0.25s;
  }
  
  @media (min-width: 992px) {
    body {
      background-image: url(images/pattern-background-desktop.svg);
      background-repeat: repeat-x;
    }
  }
  
  .attribution {
    margin-top: 3rem;
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }